:root {
    /* Colors */
    /* Primary */
    --red: hsl(4, 100%, 67%);
    --dark-red: hsl(4, 63%, 48%);
    --yellow: hsla(26, 100%, 67%, 0.932);
    /* Neutral */
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(0, 0%, 58%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.roboto-font-style {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--blue-700);
}

body {
    background-color: var(--blue-700);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.component-container {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 1.5rem;
    width: clamp(320px, 50%, 35rem);
    height: clamp(700px, 80vw, 50rem);
    border-radius: 10px;
    overflow: hidden;
    padding-block-end: 1rem;
    position: relative;
}

.image-hero {
    width: 100%;
    overflow: hidden;
}

.image-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.main-description {
    padding-inline: 1.5rem;
}

.main-description h1 {
    font-size: 2rem;
    margin-block-end: 1rem;
}

.main-description p {
    font-size: clamp(14px, 1.5vw, 1rem);
    margin-block-end: 1rem;
}

.main-description ol {
    margin-block-end: 2rem;
    line-height: 1.5;
    list-style: none;
}

.main-description ol li {
    font-size: clamp(14px, 1.5vw, 1rem);
    counter-increment: item;
    position: relative;
    margin-block-end: 0.5rem;
    padding-inline-start: 2rem;
}

.main-description ol li::before {
    content: url(../assets/images/icon-list.svg);
    position: absolute;
    left: 0;
}

.form-sign-up {
    margin-block-end: 1rem;
}

.form-sign-up fieldset {
    border: none;
}

.container-email-and-error {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 0.8rem;
    font-weight: 700;
    padding-inline: 4px;
}

.p-error-states-show {
    color: var(--dark-red);
    display: contents;
    font-size: 0.6rem;
}

.p-error-states-hidden {
    display: none;
}

#input-email {
    padding: 0.8rem;
    margin-block-start: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid var(--grey);
    outline: none;
    transition: border-color 0.3s ease;
}

#input-email:hover {
    border: 2px solid var(--yellow);
    cursor: pointer;
}

#input-email:focus {
    border: 2px solid var(--yellow);
    cursor: text;
}

.style-button {
    padding: 0.8rem;
    margin-block-start: 0.3rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--blue-800);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.style-button:hover {
    background: linear-gradient(to right, var(--red), var(--yellow));
    box-shadow: 0 10px 20px rgba(255, 98, 87, 0.4);
}

.style-button:active {
    background: linear-gradient(to right, var(--red), var(--yellow));
    transform: translateY(1px);
}

.style-button:focus {
    outline: none;
    background: linear-gradient(to right, var(--red), var(--yellow));
}

/* Success message start */
.success-message-start-hidden {
    display: none;
}

.success-message-start-show {
    width: 100%;
    height: 100%;
    padding-block-start: 20%;
    padding-block-end: 2rem;
    padding-inline: 1.5rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.description-message {
    width: 100%;
    font-size: 0.9rem;
}

.description-message img {
    width: 60px;
    margin-block-end: 1.5rem;
}

.description-message h3 {
    font-size: 2rem;
    margin-block-end: 1rem;
}

/* desktop design min width 1440px = 90rem */

@media (min-width: 88rem) {

    .component-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: stretch;
        gap: 0;
        margin: 10% auto;
        width: clamp(750px, 70%, 58rem);
        height: clamp(400px, 50vw, 32rem);
        padding: 1rem;
        border-radius: 2rem;
    }

    .image-hero {
        width: 50%;
        height: 100%;
        overflow: hidden;
    }

    .image-hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .main-description {
        width: 50%;
        height: 100%;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-description h1 {
        font-size: 3rem;
        margin-block-end: 1.5rem;
        color: var(--blue-800);
    }
}